/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
        );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#contactsIESA .contactIesa {
    list-style: none outside none;
    margin: 10px 0;
    padding: 0;
    text-transform: none;
}

.saveContactButton {
    border: 1px solid #FFFFFF;
    list-style: none outside none;
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
    width: 230px;
}


/* the initial rotation value */
#compass
{
    transform:rotate(0deg); /* in case someone creates a compliant browser */
    -ms-transform:rotate(0deg); /* WP7 */
    -webkit-transform:rotate(0deg); /* iOS and Android */
}

/* THEME APP */

.ui-header.ui-bar-inherit {
    background-image: url("../img/bg_menu.jpg");
    background-repeat: repeat-x;
    font-size: 16px;
    height: 50px;
}

.ui-title {
    color: #FFFFFF;
}

.ui-header .ui-title, .ui-footer .ui-title {
    margin-top: 4px;
}

.ui-link.ui-btn-left.ui-btn.ui-icon-back.ui-btn-icon-left.ui-shadow.ui-corner-all {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 0 0 0;
    height: 30px;
    left: 13px;
    padding: 0;
    width: 33px;
    margin-top:5px;
}

.menuLeft {
    line-height: 14px;
    margin-top: 5px;
    padding-top: 10px;
}

.ui-page.ui-page-theme-a.ui-page-footer-fixed.ui-page-active {
    background-image:url("../img/crossword.png");
}

.ui-link.ui-btn.ui-btn-icon-left.ui-shadow.ui-corner-all {
    background-color: #FFFFFF;
    border: 0 none;
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #D5007F;
}

.ui-footer {
    background-image:url("../img/pw_maze_black.png");
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
}

.ui-link.ui-btn-left.ui-btn.ui-shadow.ui-corner-all.ui-btn-active {
    background-color: #FFFFFF;
    border: 0 none;
    color: #000000;
    margin-top: 5px;
}

.saveContactButton {
    background-color:#fff;
}

.contactIesa span {
    color: #000;
}

.menu.right {
    left:auto;
    right:10px;
    top:3px;
}

.menu.right.ui-link.ui-btn-left.ui-btn.ui-shadow.ui-corner-all, a.friends.right.ui-link.ui-btn-right.ui-btn.ui-shadow.ui-corner-all {
    top: 7px;
}

.menu.right.ui-link.ui-btn-left.ui-btn.ui-shadow.ui-corner-all.ui-btn-active {
    margin-top: 0;
}

#photoscontent img{
    margin: 5px;
}

#vibrate {
    color:#000;
}

